# APP
FLASK_APP=
FLASK_ENV=

ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_PASSWORD_HASH=

OPENAI_API_KEY=

# DATABASE
# DB_HOST=
# DB_USER=
# DB_PASSWORD=
# DB_NAME=
# DB_PORT=

# DATABASE (local)
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# DATABASE LOG DEMO AI REPORTING
# MSG_DB_HOST=
# MSG_DB_USER=
# MSG_DB_PASSWORD=
# MSG_DB_NAME=
# MSG_DB_PORT=

# DATABASE LOG (local)
MSG_DB_HOST=
MSG_DB_USER=
MSG_DB_PASSWORD=
MSG_DB_NAME=
MSG_DB_PORT=

REDIS_HOST=
REDIS_PORT=

# CLOUDINARY
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_URL=
