langchain
langchain_community
langgraph
matplotlib
typing_extensions
langchain_openai
python-dotenv
IPython
pandas
SQLAlchemy
Flask-CORS
flask-sqlalchemy
flask-migrate
Flask
redis
cloudinary
mysql-connector-python
opencv-python-headless
openai
xlsxwriter
pymysql
PyJWT
PyPDF2
alembic
